---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<header class="flex items-center justify-between flex-row px-12 py-4 font-semibold bg-transparent fixed w-full text-white text-sm tracking-wider z-10">
			<div class="w-28 overflow-hidden">
				<svg class=" tds-icon tds-icon-logo-wordmark tds-site-logo-icon" viewBox="0 0 342 35" xmlns="http://www.w3.org/2000/svg"><path d="M0 .1a9.7 9.7 0 0 0 7 7h11l.5.1v27.6h6.8V7.3L26 7h11a9.8 9.8 0 0 0 7-7H0zm238.6 0h-6.8v34.8H263a9.7 9.7 0 0 0 6-6.8h-30.3V0zm-52.3 6.8c3.6-1 6.6-3.8 7.4-6.9l-38.1.1v20.6h31.1v7.2h-24.4a13.6 13.6 0 0 0-8.7 7h39.9v-21h-31.2v-7h24zm116.2 28h6.7v-14h24.6v14h6.7v-21h-38zM85.3 7h26a9.6 9.6 0 0 0 7.1-7H78.3a9.6 9.6 0 0 0 7 7zm0 13.8h26a9.6 9.6 0 0 0 7.1-7H78.3a9.6 9.6 0 0 0 7 7zm0 14.1h26a9.6 9.6 0 0 0 7.1-7H78.3a9.6 9.6 0 0 0 7 7zM308.5 7h26a9.6 9.6 0 0 0 7-7h-40a9.6 9.6 0 0 0 7 7z" fill="currentColor"></path></svg>
			</div>			
			<nav class="">
				<ul class="flex pl-28 gap-8">
					<a href="#">Model S</a>
					<a href="#">Model 3</a>
					<a href="#">Model X</a>
					<a href="#">Model Y</a>
					<a href="#">Solar Roof</a>
					<a href="#">Solar Panels</a>
					<a href="#">Powerwall</a>
				</ul>
			</nav>
			<nav>
				<ul class="flex gap-9">
					<a href="#">Shop</a>
					<a href="#">Account</a>
					<a href="#">Menu</a>
				</ul>
			</nav>
		</header>
		<article class="h-screen overflow-hidden">
			<video preload="auto" playsinline autoplay loop muted data-autoplay-desktop="true" src="https://digitalassets.tesla.com/tesla-contents/video/upload/f_auto,q_auto/Homepage-Test_Drive-NA-Desktop.mp4" ></video>
			<div class="flex flex-col text-center text-white absolute inset-x-0 inset-y-0 top-44">
				<h1 class="text-5xl font-semibold pb-2">Experience Tesla</h1>
				<p>Schedule a Demo Drive Today</p>
			</div>
			<div class="text-center text-white absolute inset-x-0 bottom-20">
				<a class="border-[3px] rounded-md border-zinc-100 w-fit px-24 py-[8px] text-white font-semibold">Demo Drive</a>
			</div>
		</article>
	</main>
</Layout>